# Global options for Railway proxy trust
{
  servers {
    trusted_proxies static private_ranges
  }
}

# Root domain (@) - proxy to zanca-dev service via internal networking
zanca.dev, www.zanca.dev {
  reverse_proxy zanca-dev.railway.internal:8080
}

# Bio subdomain - proxy to zanca-bio service via internal networking
bio.zanca.dev {
  reverse_proxy zanca-bio.railway.internal:8080
}


# Minecraft server Bluemap app
mc.zanca.dev {
  reverse_proxy http://216.201.72.56:27091
}
